<!DOCTYPE html>
<html>
<title> Handshake interactive viewer</title>
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
  }
</style>

<script>
  window.onload = function () {
    var image = document.getElementById("img");
    var step = document.getElementById("step");
    async function updateStatus() {
      image.src = image.src.split("?")[0] + "?" + new Date().getTime();
      let response = await fetch('/step?format=json');
      let jsonresp = await response.json();
      step.innerHTML = jsonresp.step;
      console.log(jsonresp);
    }
    setInterval(updateStatus, 100);
      document.getElementById("port").onchange = function () {
      document.getElementById("img").src = "http://localhost:" + document.getElementById("port").value + "/image.svg";
    }
  }
</script>

<body>
  <div style="text-align: center;">
    <h1>Handshake interactive viewer</h1>
    <h2>Port:</h2>
    <input type="text" id="port" value="8080">
    <h2>Step: <span id="step"></span></h2>
    <img id="img" src="http://localhost:8080/image.svg" />
  </div>
</body>
</html>